
{% extends "layout.html" %}

{% block script %}
{% block js %}{% endblock %}
{% endblock %}


{% block admin %}

 {% block head %}{% endblock %}

{% endblock %}

{% block content %}

  <div class="container">

    <div style="margin-bottom: 10px" class="clearfix">
        {% block create %}{% endblock %}
<!--        <div style="float: right;width: 600px;">-->
<!--            <div class="col-lg-6">-->
<!--                <form method="get">-->
<!--                    <div class="input-group">-->
<!--                        <input type="text" name="q" class="form-control" placeholder="搜索" value="{{search_data}}">-->
<!--                        <span class="input-group-btn">-->
<!--                    <button class="btn btn-default" type="submit">搜索</button>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

<!--        </div>-->
        
    </div>

<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        列表
      </div>


      <!-- Table -->
      <table class="table table-bordered" >
        <thead>
        {% block thead %}{% endblock %}
        </thead>
        <tbody>
        {% block tbody %}{% endblock %}
        </tbody>
      </table>
    </div>
        <nav aria-label="...">
              <ul class="pagination">
               {{page_string}}
             </ul>
           </nav>
{% endblock %}